
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(247, 221, 226);
}
.sidebar{
    position: absolute;
    background-color: rgb(154, 149, 149);
    height: 100vh;
    transition: transform 0.3s ease-in;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#card img{
    width: 90%;
    height: 400px;
    margin: 20px 15px 20px 15px;
    border: 2px solid rgb(154, 149, 149);
   
  }
  #card:hover{
    box-shadow: 3px 3px 10px rgb(207, 105, 105);
  }
  #cards h2:hover{
    color: blueviolet;
  }
  #cards{
    display:inline-table;
    width: 30%;
    padding-left: 30px;
  
  }
  #card h2{
    text-align: center;
    font-size: 25px;
    color:orangered;
  }
  #main-pic img {
    width: 80%;
    height: 600px;
    border: 2px solid black;
  }
  #card{
    display: block;
    background-color: antiquewhite;
    width: 100%;
    height: 500px;
    margin-left: 10%;
    margin-bottom: 40px;
    border: 2px solid black;
  }
.main{
    width: 90vw;
    padding: 20px;
}
.container{
    display: flex;
}
.sidebar nav{
    padding: 45px;

}
.sidebar nav li{
    list-style: none;
    font-size: 25px;
    padding: 33px 0;
}

.sidebar nav li a{
    text-decoration: none;
    color: rgb(75, 68, 68);
    width: 434px;
    
}
.info{
    height: 58vh;
    width: 80vw;
    margin: 144px 100px;
    display: flex;
    justify-content: space-around;

}

.devpic img{
    
    height: 58vh;
  border-radius: 50%;  
  margin-left: 15%;

}

.devinfo{
    font-size: 16px;
    display: flex;
justify-content: center;
font-family:Arial, Helvetica, sans-serif;
    flex-direction: column;
}
.hello{
    font-size: 3em;
}
.name{
 font-size: 3em;
 font-weight: bold;
}
.about{
    font-size: 2.5em;
}
.moreabout{
    font-size: 2em;
    margin-top: 25px;
    text-align: justify;
}
.btns .btn{
    margin: 0px 3px;
    border-radius: 22px ;
    padding: 10px 14px;
    color: white;
    background-color: rgb(102, 102, 232);
    font-size: 1.2em ;
    font-weight: bold;
    cursor: pointer;
}
.btns{
    margin-top: 34px;
}
.btns button:hover{
        color: rgb(102, 102, 232);
        background-color: white;
        box-shadow: 2px 2px 5px rgb(102, 102, 232);
}
.btn-sm :hover{
    color: rgb(102, 102, 232);
    background-color: white;
    box-shadow: 2px 2px 5px rgb(102, 102, 232);
}
.contact-form {

    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 50px;
    margin: 88px 100px;
}

.contact-form h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* padding: 12px 0px */
}
.contact-form form div{
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
  
}
#emailhelp{
    font-size: 11px;
    color:rgba(113, 113, 227, 0.929);
    margin: 0 5px;
    padding: 3px 0px 0px 0px;

}
contact-form form div input{
    /* width: 150px; */
    border-radius: 5px;
    margin: 6px 0px 0px 0px;
    padding: 4px;
}
contact-form form{
    margin: 0 40px;
}
div input{
    width: 250px;
    border-radius: 3px;
    padding: 3px 0px;
}
#form-check{
    flex-direction: row;
}
#form-check input{
width: 24px;
margin: 3px 0px;
}
.btn-sm button{
    font-size: 14px;
    width: 120px;
    padding: 10px 19px;
    margin: 12px 0px;
    border-radius: 22px ;
    color: white;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(102, 102, 232);
}
.blogItem{
    margin:20px;
    font-family: 'Times New Roman', Times, serif;
}
.blog-container{
    margin: 88px 88px;
}
p{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 
h1{
    margin: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.intro h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 12px ;
}
.intro{
    margin: 88px 88px;
}
.intro p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',;
    margin: 12px;
}
.skills{
    width: 265px;
    height: 6px;
    background-color: red;
    border: 2px solid black;
}
.skillContainer{
    padding: 12px;
}
.skillItems{
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}
.hundred{
    width: 265px;
    background-color: orangered;
}
.S5{
    width: 175px;
    background-color: rgba(0, 221, 255, 0.911);
}
.fifty{
    width: 125px ;
    background-color: green;
}
.t5{
    width: 75px;
    background-color: yellow;
}
.hamburger{
    position: absolute; 
    cursor: pointer;
    left: 10px;
}
.sidebarGo{
    transform: translate(-443px,0px);
    position: absolute;

}
.hamp{
    margin-top: 5px;
    margin-left: 10px;
}
.cross{
    margin-left: 155px;
    margin-top: 5px;

}
@media (max-width:600px) {
*{
    /* background-color: rgb(247, 188, 188); */
}
.devpic{
    display: none;

}
.intro{
    margin: 50px 8px;
}
.devinfo{
    font-size: 10px;
}
.btns .btn{
    font-size: 6px ;
}
/* .sidebar{
    transform: translate(-443px,0px);
    position: absolute;

} */

}